.nadvarPrincipal {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(107, 107, 107);
    width: 100%;
    height: auto;
    padding: 11px;
}

.nadvarPrincipal .link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 18px;
    padding: 10px 14px;
    transition: all 0.3s ease-in-out;
}

.nadvarPrincipal .link:hover {
    font-size: 25px;
}